body {
	overflow: hidden;
	font-family: serif,Arial;
}

a {
	color: #609fc3;
}

#slides, .slide {
	background: #fff;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slide {
	display: none;
	font-size: 2em;
	padding-left: 15%;
}

.crt {
	display: block;
}

.head {

}

#loader {
	z-index: 1000;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff url(loader.gif) center no-repeat;
}

footer {
	font-size: 1em;
	line-height: 1em;
	height: 1em;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80%;
	padding: 0 10%;
	border-top: 1px solid #000;
}

footer > section {
	display: inline;
}

footer *:not(#pages) {
	border-right: 1px solid #000;
	padding-right: 1em;
	margin-right: 1em;
}

footer .nav {
	float: right;
}

#navButton, #exposeButton {
	cursor: pointer;
}

.closeBtn {
	width: 32px;
	height: 32px;
	background: url(close.png) no-repeat center;
	cursor: pointer;
}

/***** Nav Popup *****/

#navPopup {
	position: absolute;
	overflow: auto;
	background: url(bkg3.png);
	z-index: 100;
}

#navPopupContainer {
	border: 1px solid #333;
	background: #fff;
}

.navPopupContextMenu {
	line-height: 1.5em;
	width: 20em;
	max-height: 20em;
}

.navPopupContextMenu #navPopupClose {
	display: none;
}

.navPopupContextMenu > * {
	padding-left: 1em;
}

.navPopupContextMenu .toc > ul {
	padding-left: 0;
}

.navPopupPopup {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.navPopupPopup #navPopupClose {
	position: fixed;
	left: 89%;
	top: 9%;
}

.navPopupPopup #navPopupContainer {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	margin: 0 auto;
	background: #222;
	color: #fff;
	box-shadow: -2.5px -2.5px 10px 5px #333333;
}

#navPopup input {
	width: 5em;
}

/***** Exposé *****/

#expose {
	background: url(bkg3.png);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

#exposeContainer {
	overflow: auto;
	background: #222;
	position: absolute;
	box-shadow: -2.5px -2.5px 10px 5px #333333;
}

.expose {
	display: block;
	float: left;
	border: 1px solid #000;
	width: 10em;
	height: 7em;
	position: static;
	padding: 0;
	margin: 0 1em 1em 0;
	cursor: pointer;
}

.expose > * {
	font: 30%/1.5em serif,Arial;
}

.exposeInline #exposeContainer {
	height: 20em;
	width: 80%;
	top: 25%;
	left: 10%;
}

.exposeInline #exposeClose {
	position: fixed;
	top: 24%;
	left: 89%;
}

.exposeInline #exposeSlideContainer {
	padding: 2em 0 1.5em 2em;
}

.exposeGrid #exposeContainer {
	margin: 0 auto;
	height: 80%;
	width: 80%;
	top: 10%;
	left: 10%;
}

.exposeGrid #exposeClose {
	position: fixed;
	top: 8%;
	left: 89%;
}

.exposeGrid #exposeSlideContainer {
	padding: 2em;
}

/* .. */

.egg {
	margin-top: 50px;
	float: left;
	width: 200px;
	height: 300px;
	border-radius: 250px / 350px;
	background-image: -moz-repeating-linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet);
	background-size: 300px 500px;
	animation:
		cool .5s infinite linear alternate,
		jump .5s ease-in-out infinite alternate;
}

@keyframes cool {
	to { background-position: -100px -200px; }
}

@keyframes jump {
	to { margin-top: 200px; }
}
